<div class="media-container">
    <div class="media-player"><video src="./video/media.mp4"></video></div>
    <div class="media-controls">
        <div class="media-progress">
            <p class="media-time"><span class="media-time-current">00:00:00</span> / <span
                    class="media-time-total">00:00:00</span></p>
            <div class="line">
                <div class="unit"></div>
            </div>
        </div>
        <div class="media-operation">
            <div class="left"><i id="contr-play" class="iconfont icon-player icon-pause"></i></div>
            <div class="right"><input type="range" id="contr-volume"> <i id="contr-mute"
                    class="iconfont icon-volume"></i>
                <i id="contr-loop" class="iconfont icon-loop"></i> <i id="contr-full"
                    class="iconfont icon-fullscreen"></i>
            </div>
        </div>
    </div>
</div>