<div class="blog-modify">
    <div class="blog-modify-avatar">
        <img src="{{avatar}}" alt="">
    </div>
    <div class="blog-modify-input">
        <p>点击选择头像</p>
        <input type="file" accept="image/png, image/jpeg">
    </div>
    <button class="blog-modify-submit">提交</button>
</div>