<div class="game-container">
    <div class="game_area">
        <div class="ball_area"></div>
        <div class="battery"></div>
        <div class="bullet"></div>
        <div class="battery_area"></div>
    </div>
    <div class="score_area">
        <div class="start">开始游戏</div>
        <p>当前分数</p><span class="score">0</span>
    </div>
</div>