::placeholder
    color:  font-normal-color
body
    color font-normal-color
h1,h2,h3,h4
    color: font-head-color
ul
    list-style none
    margin: 0
    padding: 0

a
    color: font-normal-color
    &:hover
        color: font-focus-color
        text-decoration: none
a:focus
    text-decoration: none        

img
    width 100%
    height: auto

main
    margin-top: white-space*5 

*
    user-select: none
    margin: 0
    padding: 0

//富文本编辑器
 .w-e-toolbar
    z-index :1!important
.w-e-text-container
  z-index 0!important
