.blog-content
    min-height: 80vh
    box-shadow: 0 0 2px bg-motify-color
    padding: 5px
.blog-content-wrap
    width 100%
    height: 100%
.blog-content-article
    overflow: hidden
    display: flex
    flex-direction: column
    align-items: center
    padding: 10px
    margin: 10px
    background-color: bg-theme-color
    box-shadow: inset 0 0 10px white
    border-radius: border-normal-radius
    cursor pointer

.blog-article-time
    margin: 10px 0
.blog-article-pic
    height: 200px
    img
        height 100%
        width: auto
    
    
.blog-article-desc
    text-indent: 1em
    // 超出3行显示省略号
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;/*省略几行写几*/
    -webkit-box-orient: vertical;
    margin: 10px 0
    color: font-normal-color
    
.blog-article-bottom
    display: flex
    width 100%
    justify-content: space-between
    color: font-normal-color
    