.blog-message-wrap
    position: absolute
    left: 50%
    top: 100px
    width 200px
    border-radius: border-normal-radius
    transform: translate(-50%,0)
    z-index: 999
    .alert
        transition: 1s
        margin-top: -50px
        opacity 0
        text-align: center
        &.show
                margin-top: 0
                opacity 1
    

