[data-display="error"]
    position relative
    margin-bottom: white-space *2
    &::after
        content:attr(data-error-msg)
        display: block
        position absolute
        padding: white-space
        color: red
    
    