.blog-write
    padding: 10px
    border: 1px solid bg-motify-color
.w-e-text-container
    height: 500px!important
.blog-write-btn
    display flex
    a
        flex: 1
        line-height: 50px
        font-size: 20px
        text-align: center
        border: 1px solid bg-motify-color
        &:hover
            background-color: bg-motify-color
            color: white
.panel-info
    border-color: bg-motify-color
.panel-info>.panel-heading
    color:white
    border-color: bg-motify-color
    background-color: bg-theme-color
.panel-info>.panel-body 
    padding:0
    font-size: 30px
    color: bg-motify-color
    input
        padding:0 10px 
        border: 0
        outline: 0
#blog-editor—category
    display: flex
    border: 1px solid bg-motify-color
    padding:white-space
    label
        cursor pointer
        margin-right: white-space
        padding:white-space
        border: 1px solid bg-motify-color
        border-radius: border-normal-radius
    input:checked + label
        background-color: bg-theme-color
        color: white 
.blog-article-empty
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width 100%
    height: 100%
.blog-empty-dec
    font-size: font-head-size
.blog-empty-btn
    padding: white-space
    margin-top: white-space
    border: 1px solid bg-motify-color